---
http_interactions:
- request:
    method: get
    uri: https://api.foursquare.com/v2/users/self/checkins?limit=1&oauth_token=foobar_not_key_here&sort=oldestfirst&v=20121118
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - '-3'
    body:
      encoding: US-ASCII
      string: ! '{"meta":{"code":401,"errorType":"invalid_auth","errorDetail":"OAuth
        token invalid or revoked."},"response":{}}'
  recorded_at: Thu, 20 Dec 2012 16:42:33 GMT
recorded_with: VCR 2.3.0
