OmniAuth.config.logger = Rails.logger

if Rails.env.production?

  Rails.application.config.middleware.use OmniAuth::Builder do
    provider :foursquare, 'REPLACE_CLIENT_ID', 'REPLACE_CLIENT_SECRET'
  end

elsif Rails.env.development?

  Rails.application.config.middleware.use OmniAuth::Builder do
    provider :foursquare, 'REPLACE_CLIENT_ID', 'REPLACE_CLIENT_SECRET'
  end

else  
end